
body {
  background-color: #fafafa;
  color: #334455;
  font-family: sans-serif;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

header {
  background-color: #fafafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5pt 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 5pt;
  border: 1px solid #ddd;
  vertical-align: top;
}

th {
  color: black;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.logo a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: large;
}

nav.main-menu a {
  padding-left: 0;
}

nav.breadcrumb {
  --bs-breadcrumb-divider: '>';
  margin: 15px 0 0 0;
  padding: 0;
}

.breadcrumb-item a {
  text-decoration: none;
}

main h1 {
  font-weight: bold;
}

main h2, h3 {
  margin-top: 10pt;
}

main h2 {
  border-bottom: 1px solid #e6e6e6;
}

.on-this-page ul {
  list-style-type: none;
  padding-left: 0;
}

.on-this-page li {
  margin-bottom: 5px;
}

.on-this-page a {
  text-decoration: none;
}